build/abonents.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container-fluid header__row">
          <div class="header__left"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
            <nav class="header__menu-wrap">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Абонентам</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Закупки</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Новости</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
                </ul>
              <div class="header__menu-bottom"><a class="header__login header__login--text" href="#">личный кабинет</a></div>
            </nav>
          </div>
          <div class="header__right">
            <div class="tel"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div><a class="header__login" href="#"></a>
            <button class="header__btn-menu"></button>
          </div>
        </div>
      </div>
    <main>
      <div class="container-fluid pt-20 pt-sm-40">
        <h1>Абонентам</h1>
      </div>
      <div class="container-fluid p-0 top-border">
        <div class="page-row">
          <div class="page-row__nav">
            <div class="page-row--gray">
              <div class="container-fluid pr-md-40">
                  <ul class="menu-left">
                    <li class="menu-left__item"><a class="menu-left__link--active menu-left__link" href="#">Абонентская служба</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Заключение договоров  холодного водоснабжения и водоотведения</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Тарифы</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Подключение</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Инвестиционные программы</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Для зарегистрированных пользователей</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Сведения о членстве  в отраслевых  ассоциациях, лицензиях и допусках</a></li>
                  </ul>
              </div>
              <div class="top-border"></div>
              <div class="container-fluid pr-md-40 pt-40">
                <h5 class="text-dark mb-40">Телефоны аварийно-диспетчерских служб:</h5>
                <div class="text-dark mb-15">Невский водопровод</div>
                <div class="tel tel--contact pb-40">
                  <div class="tel__link"><span>+7 (812)</span> 414-92-72</div>
                </div>
                <div class="text-dark mb-15">Невский водопровод</div>
                <div class="tel tel--contact pb-40">
                  <div class="tel__link"><span>+7 (81361)</span> 22-073</div>
                </div>
              </div>
            </div>
              <div class="note text-white bg-secondary note--left">
                <div class="container-fluid">
                  <h3 class="text-white">Обращаем внимание</h3>
                  <p>При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным</p>
                </div>
              </div>
          </div>
          <div class="page-row__body">
            <div class="container-fluid">
              <h2>Абонентская служба</h2>
              <div class="info">
                <div class="info__name">
                  <div class="info__type">Филиал</div>
                  <h3>«Невский водопровод»</h3>
                </div>
                <ul class="info__list">
                  <li class="info__item"><small>Начальник абонентской службы:</small>
                    <p>Петрова Ольга Сергеевна</p>
                  </li>
                  <li class="info__item"><small>E-mail</small>
                    <p>abonent@loksys.ru</p>
                  </li>
                  <li class="info__item"><small>Телефон/факс</small>
                    <p>+7 (812) 414-92-50, 414-92-51</p>
                  </li>
                </ul>
              </div>
              <div class="info">
                <div class="info__name">
                  <div class="info__type">Филиал</div>
                  <h3>«Тосненский филиал»</h3>
                </div>
                <ul class="info__list">
                  <li class="info__item"><small>Начальник абонентской службы:</small>
                    <p>Поплавская Инна Викторовна</p>
                  </li>
                  <li class="info__item"><small>E-mail</small>
                    <p>info.tosno@loksys.ru</p>
                  </li>
                  <li class="info__item"><small>Телефон/факс</small>
                    <p>Для абонентов на территории МО:</p>
                    <p>+7 (812) 414-92-50, 414-92-51</p>
                    <p><span class="text-dark">Никольское ГП</span></p>
                    <p><span class="text-dark">Ульяновское ГП</span></p>
                    <p><span class="text-dark">Красноборское ГП</span>(частный сектор)</p>
                    <p>+7 (81361) 52-097</p>
                    <p>Для других абонентов</p>
                    <p>+7 (81361) 2-94-90 , 2-91-13</p>
                  </li>
                  <li class="info__item"><small>Приемные дни:</small>
                    <p>Вторник, четверг с 08:00 до 17:00</p>
                  </li>
                </ul>
              </div>
              <div class="info border-0">
                <div class="info__name">
                  <h3>Юридическая справка</h3>
                </div>
                <div class="info__list">
                  <p>
                    Отпуск питьевой воды и (или) прием
                    сточных вод осуществляется на основании публичного договора (статьи 426, 539, 548 Гражданского кодекса Российской Федерации, Постановление Правительства РФ № 644 от 29.07.2013 «Об утверждении Правил холодного водоснабжения и водоотведения», Постановление Правительства РФ № 645 от 29.07.2013 «Об утверждении типовых договоров в области холодного водоснабжения и водоотведения»), который заключается абонентом с АО «ЛОКС».
                    <br> <br>
                    В соответствии со ст. 2 Федерального закона от 07.12.2011 N 416-ФЗ
                    «О водоснабжении и водоотведении», Абонент — физическое либо юридическое лицо, заключившее или обязанное заключить договор холодного водоснабжения и (или) договор водоотведения, единый договор холодного водоснабжения
                    и водоотведения.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container-fluid footer__row">
          <div class="footer__logo"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
          </div>
          <div class="footer__item footer__item--first">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">О компании</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Администрация</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Раскрытые информации</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Вакансии</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--center">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентам</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентская служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Техническая служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Тарифы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Инвестиционные программы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Подключение</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--last">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Закупки</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Новости</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="footer__tel">
            <div class="tel tel--footer"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div>
          </div>
        </div>
        <div class="footer__bottom"> 
          <div class="container-fluid footer__row"> <span class="footer__copyright">&copy; Ленинградские областные комунальные системы 2018</span><span class="footer__develop">Разработка сайта — <a href="#">its.agency</a></span></div>
        </div>
      </div>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/abonents.pug
extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 Абонентам
    .container-fluid.p-0.top-border: .page-row
      .page-row__nav
        .page-row--gray
          .container-fluid.pr-md-40
            +menu-left({
              links: ['Абонентская служба','Заключение договоров  холодного водоснабжения и водоотведения','Тарифы','Подключение','Инвестиционные программы','Для зарегистрированных пользователей','Сведения о членстве  в отраслевых  ассоциациях, лицензиях и допусках'],
              active: 0
            })
          .top-border
          .container-fluid.pr-md-40.pt-40
            h5.text-dark.mb-40 Телефоны аварийно-диспетчерских служб:
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (812)</span> 414-92-72
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (81361)</span> 22-073
        +note({
          title: 'Обращаем внимание',
          text: 'При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным'
        }).note--left
      .page-row__body
        .container-fluid
          h2 Абонентская служба
          .info
            .info__name
              .info__type Филиал
              h3 «Невский водопровод»
            ul.info__list
              li.info__item
                small Начальник абонентской службы:
                p Петрова Ольга Сергеевна
              li.info__item
                small E-mail
                p abonent@loksys.ru
              li.info__item
                small Телефон/факс
                p +7 (812) 414-92-50, 414-92-51
          .info
            .info__name
              .info__type Филиал
              h3 «Тосненский филиал»
            ul.info__list
              li.info__item
                small Начальник абонентской службы:
                p Поплавская Инна Викторовна
              li.info__item
                small E-mail
                p info.tosno@loksys.ru
              li.info__item
                small Телефон/факс
                p Для абонентов на территории МО:
                p +7 (812) 414-92-50, 414-92-51
                p: span.text-dark Никольское ГП
                p: span.text-dark Ульяновское ГП
                p
                  span.text-dark Красноборское ГП
                  |(частный сектор)
                p +7 (81361) 52-097
                p Для других абонентов
                p +7 (81361) 2-94-90 , 2-91-13
              li.info__item
                small Приемные дни:
                p Вторник, четверг с 08:00 до 17:00

          .info.border-0
            .info__name: h3 Юридическая справка
            .info__list
              p.
                Отпуск питьевой воды и (или) прием
                сточных вод осуществляется на основании публичного договора (статьи 426, 539, 548 Гражданского кодекса Российской Федерации, Постановление Правительства РФ № 644 от 29.07.2013 «Об утверждении Правил холодного водоснабжения и водоотведения», Постановление Правительства РФ № 645 от 29.07.2013 «Об утверждении типовых договоров в области холодного водоснабжения и водоотведения»), который заключается абонентом с АО «ЛОКС».
                <br> <br>
                В соответствии со ст. 2 Федерального закона от 07.12.2011 N 416-ФЗ
                «О водоснабжении и водоотведении», Абонент — физическое либо юридическое лицо, заключившее или обязанное заключить договор холодного водоснабжения и (или) договор водоотведения, единый договор холодного водоснабжения
                и водоотведения.
  +footer
