src/pages/about.pug
extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 О компании
    .tabs
      .tabs__menu-wrap
        .container-fluid: .tabs__menu
          a.tabs__link.tabs__link--active(href="#tab1") О компании
          a.tabs__link(href="#tab2") Реквизиты
          a.tabs__link(href="#tab3") Администрация
          a.tabs__link(href="#tab4") Раскрытие информации
          a.tabs__link(href="#tab5") Вакансии
      .tabs__content
        #tab1.tabs__item.tabs__item--active.tabs__item--about: .container-fluid.p-0
          .page-row.page-row--about.row.no-gutters.justify-content-between
            .col-12.col-md-4.page-row__aside.page-row__aside--left: .container-fluid
              h2 АО «ЛОКС»
              p.
                Акционерное общество «Ленинградские областные коммунальные системы» предоставляет коммунальные услуги потребителям Ленинградской области
                и Санкт-Петербурга в разрезе двух филиалов.
            .col-12.col-md-7.page-row__aside.page-row__aside--right.bg-light
              .container-fluid
                +office({
                  count: '01',
                  name: 'Невский водопровод',
                  text: 'Предоставляет услуги по водоснабжению потребителям следующих районов Ленинградской области:',
                  list: true
                })
                +office({
                  count: '02',
                  name: 'Тосненский водоканал',
                  text: 'Предоставляет услуги по водоснабжению и водоотведению потребителям <b>Тосненского</b> района с 1 февраля 2008 г.'
                })

        #tab2.tabs__item: .container-fluid: h2.pt-40 Таб Реквизиты
        #tab3.tabs__item: .container-fluid: h2.pt-40 Таб Администрация
        #tab4.tabs__item: .container-fluid: h2.pt-40 Таб Раскрытие информации
        #tab5.tabs__item: .container-fluid: h2.pt-40 Таб Вакансии
    +advantages({
      blue: true
    }).advantages--blue
    .container-fluid
      +member({
        name: 'Василий Медведев',
        role: 'ВРИО Генерального директора АО «ЛОКС»',
        img: 'photo-1.jpg',
        text: 'Акционерное общество «Ленинградские областные коммунальные системы» предоставляет коммунальные услуги потребителям Ленинградской области и Санкт-Петербурга в разрезе двух филиалов.'
      })
  +map().map--page-style
  +footer

build/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container-fluid header__row">
          <div class="header__left"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
            <nav class="header__menu-wrap">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Абонентам</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Закупки</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Новости</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
                </ul>
              <div class="header__menu-bottom"><a class="header__login header__login--text" href="#">личный кабинет</a></div>
            </nav>
          </div>
          <div class="header__right">
            <div class="tel"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div><a class="header__login" href="#"></a>
            <button class="header__btn-menu"></button>
          </div>
        </div>
      </div>
    <main>
      <div class="container-fluid pt-20 pt-sm-40">
        <h1>О компании</h1>
      </div>
      <div class="tabs">
        <div class="tabs__menu-wrap">
          <div class="container-fluid">
            <div class="tabs__menu"><a class="tabs__link tabs__link--active" href="#tab1">О компании</a><a class="tabs__link" href="#tab2">Реквизиты</a><a class="tabs__link" href="#tab3">Администрация</a><a class="tabs__link" href="#tab4">Раскрытие информации</a><a class="tabs__link" href="#tab5">Вакансии</a></div>
          </div>
        </div>
        <div class="tabs__content">
          <div class="tabs__item tabs__item--active tabs__item--about" id="tab1">
            <div class="container-fluid p-0">
              <div class="page-row page-row--about row no-gutters justify-content-between">
                <div class="col-12 col-md-4 page-row__aside page-row__aside--left">
                  <div class="container-fluid">
                    <h2>АО «ЛОКС»</h2>
                    <p>
                      Акционерное общество «Ленинградские областные коммунальные системы» предоставляет коммунальные услуги потребителям Ленинградской области
                      и Санкт-Петербурга в разрезе двух филиалов.
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-7 page-row__aside page-row__aside--right bg-light">
                  <div class="container-fluid">
                      <div class="office">
                        <div class="office__count">01</div>
                        <div class="office__type">Филиал</div>
                        <h3>Невский водопровод</h3>
                        <p>Предоставляет услуги по водоснабжению потребителям следующих районов Ленинградской области:</p>
                        <ul class="office__list">
                          <li>
                            <h6>Тосненский</h6>
                          </li>
                          <li>
                            <h6>Гатчинский</h6>
                          </li>
                          <li>
                            <h6>Ломоносовский</h6>
                          </li>
                        </ul>
                        <p>А также следующим районам Санкт-Петербурга:</p>
                        <ul class="office__list">
                          <li>
                            <h6>Пушкинский</h6>
                          </li>
                          <li>
                            <h6>Красносельский</h6>
                          </li>
                        </ul>
                      </div>
                      <div class="office">
                        <div class="office__count">02</div>
                        <div class="office__type">Филиал</div>
                        <h3>Тосненский водоканал</h3>
                        <p>Предоставляет услуги по водоснабжению и водоотведению потребителям <b>Тосненского</b> района с 1 февраля 2008 г.</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__item" id="tab2">
            <div class="container-fluid">
              <h2 class="pt-40">Таб Реквизиты</h2>
            </div>
          </div>
          <div class="tabs__item" id="tab3">
            <div class="container-fluid">
              <h2 class="pt-40">Таб Администрация</h2>
            </div>
          </div>
          <div class="tabs__item" id="tab4">
            <div class="container-fluid">
              <h2 class="pt-40">Таб Раскрытие информации</h2>
            </div>
          </div>
          <div class="tabs__item" id="tab5">
            <div class="container-fluid">
              <h2 class="pt-40">Таб Вакансии</h2>
            </div>
          </div>
        </div>
      </div>
        <div class="container-fluid p-0">
          <div class="advantages advantages--blue">
            <div class="advantages__item">
              <h2>ЛОКС<br>в цифрах</h2>
            </div>
            <div class="advantages__item">
              <div class="advantages__num">305</div>
              <p>Клиентов</p>
            </div>
            <div class="advantages__item">
              <div class="advantages__num">1200 <small>км</small></div>
              <p>Обслуживаемая территория</p>
            </div>
            <div class="advantages__item">
              <div class="advantages__num">580 <small>км</small></div>
              <p>Длина обслуживаемого водопровода</p>
            </div>
          </div>
        </div>
      <div class="container-fluid">
          <div class="member">
            <div class="member__img-wrap"><img src="./img/photo-1.jpg" alt=""></div>
            <div class="member__content">
              <div class="member__role">ВРИО Генерального директора АО «ЛОКС»</div>
              <h2>Василий Медведев</h2>
              <p>Акционерное общество «Ленинградские областные коммунальные системы» предоставляет коммунальные услуги потребителям Ленинградской области и Санкт-Петербурга в разрезе двух филиалов.</p>
            </div>
          </div>
      </div>
    </main>
      <div class="map map--page-style">
        <div class="container-fluid pt-60">
          <h2>География деятельности компании</h2>
        </div>
        <div class="container-fluid p-0 position-relative">
            <div class="regions bg-primary pt-lg-60" id="regions">
              <h4 class="text-white regions__title d-none d-lg-block">Районы</h4>
              <div class="regions__selected d-lg-none"><span>Район:<span class="regions__selected-text" id="regions-selected">Ломоносовский</span></span></div>
              <ul class="regions__menu bg-primary d-lg-block" id="regions-menu">
                <li class="regions__item d-lg-none"><a class="regions__link" href="#"><span>Все</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Тосненский</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Гатчинский</span></a></li>
                <li class="regions__item regions__item--active"><a class="regions__link" href="#"><span>Ломоносовский</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Пушкинский</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Красносельский</span></a></li>
              </ul>
            </div>
        </div>
        <div class="map__container" id="map">
          <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;onload=initMap" type="text/javascript" async></script>
          <script type="text/javascript">
            function initMap() {
              var map;
              map = new ymaps.Map("map", {
                  center: [59.942417, 30.358098],
                  controls: [],
                  zoom: 13
                }
              );
            
              map.behaviors.disable('scrollZoom');
              map.behaviors.disable('multiTouch');
              if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                map.behaviors.disable('drag');
              }
            }
          </script>
        </div>
      </div>
      <div class="footer">
        <div class="container-fluid footer__row">
          <div class="footer__logo"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
          </div>
          <div class="footer__item footer__item--first">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">О компании</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Администрация</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Раскрытые информации</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Вакансии</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--center">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентам</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентская служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Техническая служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Тарифы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Инвестиционные программы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Подключение</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--last">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Закупки</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Новости</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="footer__tel">
            <div class="tel tel--footer"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div>
          </div>
        </div>
        <div class="footer__bottom"> 
          <div class="container-fluid footer__row"> <span class="footer__copyright">&copy; Ленинградские областные комунальные системы 2018</span><span class="footer__develop">Разработка сайта — <a href="#">its.agency</a></span></div>
        </div>
      </div>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>
