build/contract.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container-fluid header__row">
          <div class="header__left"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
            <nav class="header__menu-wrap">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Абонентам</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Закупки</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Новости</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
                </ul>
              <div class="header__menu-bottom"><a class="header__login header__login--text" href="#">личный кабинет</a></div>
            </nav>
          </div>
          <div class="header__right">
            <div class="tel"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div><a class="header__login" href="#"></a>
            <button class="header__btn-menu"></button>
          </div>
        </div>
      </div>
    <main>
      <div class="container-fluid pt-20 pt-sm-40">
        <h1>Абонентам</h1>
      </div>
      <div class="container-fluid p-0 top-border">
        <div class="page-row">
          <div class="page-row__nav">
            <div class="page-row--gray">
              <div class="container-fluid pr-md-40">
                  <ul class="menu-left">
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Абонентская служба</a></li>
                    <li class="menu-left__item"><a class="menu-left__link--active menu-left__link" href="#">Заключение договоров  холодного водоснабжения и водоотведения</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Тарифы</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Подключение</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Инвестиционные программы</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Для зарегистрированных пользователей</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">Сведения о членстве  в отраслевых  ассоциациях, лицензиях и допусках</a></li>
                  </ul>
              </div>
              <div class="top-border"></div>
              <div class="container-fluid pr-md-40 pt-40">
                <h5 class="text-dark mb-40">Телефоны аварийно-диспетчерских служб:</h5>
                <div class="text-dark mb-15">Невский водопровод</div>
                <div class="tel tel--contact pb-40">
                  <div class="tel__link"><span>+7 (812)</span> 414-92-72</div>
                </div>
                <div class="text-dark mb-15">Невский водопровод</div>
                <div class="tel tel--contact pb-40">
                  <div class="tel__link"><span>+7 (81361)</span> 22-073</div>
                </div>
              </div>
            </div>
              <div class="note text-white bg-secondary">
                <div class="container-fluid">
                  <h3 class="text-white">Обращаем внимание</h3>
                  <p>При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным</p>
                </div>
              </div>
          </div>
          <div class="page-row__body">
            <div class="container-fluid">
              <h2>Заключение договоров холодного водоснабжения и водоотведения</h2>
              <p class="mb-100">
                В этом разделе вы можете ознакомиться с правилами оформления договорных отношений по отпуску питьевой воды, приему сточных вод и загрязняющих веществ,
                а также с формами документов, используемых АО «ЛОКС» для оформления договорных отношений с абонентами.
              </p>
              <div class="info">
                <div class="info__left">
                  <h3>Формы заявлений на заключение договора</h3>
                  <p>
                    Юридическое или физическое
                    лицо, желающее заключить
                    договор, обращается в АО «ЛОКС»
                    с заявлением о заключении договора
                  </p>
                </div>
                <div class="info__right">
                  <div class="info__item">
                    <h6>Для правообладателей жилых домов</h6><a class="btn-download" href="#" download>Скачать PDF <span>(2 Mb)</span></a>
                  </div>
                  <div class="info__item">
                    <h6>Для правообладателей нежилого помещения в жилом фонде</h6><a class="btn-download" href="#" download>Скачать PDF <span>(2 Mb)</span></a>
                  </div>
                  <div class="info__item">
                    <h6>Для юридических лиц и индивидуальных предпринимателей</h6><a class="btn-download" href="#" download>Скачать PDF <span>(2 Mb)</span></a>
                  </div>
                </div>
              </div>
              <div class="info">
                <div class="info__left">
                  <h3>Дополнительные документы</h3>
                  <p>К заявлению на заключение договора холодного водоснабжения и водоотведения должны быть приложены документы, предусмотренные пунктами 16 и 17 «Правил холодного водоснабжения и водоотведения», утвержденных постановлением Правительства РФ № 644 от 29.07.2013.</p>
                </div>
                <div class="info__right">
                  <div class="info__item">
                    <h6>Перечень необходимых документов</h6><a class="btn-download" href="#" download>Скачать PDF <span>(2 Mb)</span></a>
                  </div>
                </div>
              </div>
              <h3>Важно!</h3>
              <p class="mb-40">
                Для заключения договора необходимо, чтобы объекты либо системы водоснабжения и (или) канализации потенциального абонента имели непосредственное присоединение
                к объектам централизованной системы водоснабжения или водоотведения, принадлежащим АО «ЛОКС» на праве собственности или ином законном основании.
                <br> <br>
                Абоненты, не имеющие непосредственного подключения к объектам централизованной системы водоснабжения или водоотведения, принадлежащим АО «ЛОКС» на праве собственности или ином законном основании, обязаны представить акт разграничения эксплуатационной ответственности с лицами/организациями, владеющими на праве собственности или ином законном основании водопроводными и (или) канализационными сетями, за исключением случаев, если объекты таких абонентов подключены к бесхозяйным сетям, а также если осуществляется неорганизованный сброс поверхностных сточных вод
                с территорий абонентов в централизованную систему водоотведения.
                <br> <br>
                Основные нормативные правовые акты, регламентирующие оформление договорных отношений по отпуску питьевой воды и приему сточных вод можно посмотреть <a href="#">здесь</a>.
              </p>
              <h6>Информация для собственников нежилых помещений, расположенных в многоквартирных домах</h6><a class="btn-download" href="#" download>Скачать PDF <span>(2 Mb)</span></a>
            </div>
          </div>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container-fluid footer__row">
          <div class="footer__logo"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
          </div>
          <div class="footer__item footer__item--first">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">О компании</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Администрация</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Раскрытые информации</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Вакансии</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--center">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентам</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентская служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Техническая служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Тарифы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Инвестиционные программы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Подключение</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--last">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Закупки</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Новости</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="footer__tel">
            <div class="tel tel--footer"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div>
          </div>
        </div>
        <div class="footer__bottom"> 
          <div class="container-fluid footer__row"> <span class="footer__copyright">&copy; Ленинградские областные комунальные системы 2018</span><span class="footer__develop">Разработка сайта — <a href="#">its.agency</a></span></div>
        </div>
      </div>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/contract.pug
extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 Абонентам
    .container-fluid.p-0.top-border: .page-row
      .page-row__nav
        .page-row--gray
          .container-fluid.pr-md-40
            +menu-left({
              links: ['Абонентская служба','Заключение договоров  холодного водоснабжения и водоотведения','Тарифы','Подключение','Инвестиционные программы','Для зарегистрированных пользователей','Сведения о членстве  в отраслевых  ассоциациях, лицензиях и допусках'],
              active: 1
            })
          .top-border
          .container-fluid.pr-md-40.pt-40
            h5.text-dark.mb-40 Телефоны аварийно-диспетчерских служб:
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (812)</span> 414-92-72
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (81361)</span> 22-073
        +note({
          title: 'Обращаем внимание',
          text: 'При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным'
        })
      .page-row__body
        .container-fluid
          h2 Заключение договоров холодного водоснабжения и водоотведения
          p.mb-100.
            В этом разделе вы можете ознакомиться с правилами оформления договорных отношений по отпуску питьевой воды, приему сточных вод и загрязняющих веществ,
            а также с формами документов, используемых АО «ЛОКС» для оформления договорных отношений с абонентами.
          .info
            .info__left
              h3 Формы заявлений на заключение договора
              p.
                Юридическое или физическое
                лицо, желающее заключить
                договор, обращается в АО «ЛОКС»
                с заявлением о заключении договора
            .info__right
              .info__item
                h6 Для правообладателей жилых домов
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
              .info__item
                h6 Для правообладателей нежилого помещения в жилом фонде
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
              .info__item
                h6 Для юридических лиц и индивидуальных предпринимателей
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
          .info
            .info__left
              h3 Дополнительные документы
              p.
                К заявлению на заключение договора холодного водоснабжения и водоотведения должны быть приложены документы, предусмотренные пунктами 16 и 17 «Правил холодного водоснабжения и водоотведения», утвержденных постановлением Правительства РФ № 644 от 29.07.2013.
            .info__right
              .info__item
                h6 Перечень необходимых документов
                a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>

          h3 Важно!
          p.mb-40.
            Для заключения договора необходимо, чтобы объекты либо системы водоснабжения и (или) канализации потенциального абонента имели непосредственное присоединение
            к объектам централизованной системы водоснабжения или водоотведения, принадлежащим АО «ЛОКС» на праве собственности или ином законном основании.
            <br> <br>
            Абоненты, не имеющие непосредственного подключения к объектам централизованной системы водоснабжения или водоотведения, принадлежащим АО «ЛОКС» на праве собственности или ином законном основании, обязаны представить акт разграничения эксплуатационной ответственности с лицами/организациями, владеющими на праве собственности или ином законном основании водопроводными и (или) канализационными сетями, за исключением случаев, если объекты таких абонентов подключены к бесхозяйным сетям, а также если осуществляется неорганизованный сброс поверхностных сточных вод
            с территорий абонентов в централизованную систему водоотведения.
            <br> <br>
            Основные нормативные правовые акты, регламентирующие оформление договорных отношений по отпуску питьевой воды и приему сточных вод можно посмотреть <a href="#">здесь</a>.
          h6.
            Информация для собственников нежилых помещений, расположенных в многоквартирных домах
          a(href="#" download).btn-download Скачать PDF <span>(2 Mb)</span>
  +footer
