build/home.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--home">
        <div class="container-fluid header__row">
          <div class="header__left"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
            <nav class="header__menu-wrap">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Абонентам</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Закупки</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Новости</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
                </ul>
              <div class="header__menu-bottom"><a class="header__login header__login--text" href="#">личный кабинет</a></div>
            </nav>
          </div>
          <div class="header__right">
            <div class="tel"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div><a class="header__login" href="#"></a>
            <button class="header__btn-menu"></button>
          </div>
        </div>
      </div>
    <main>
        <div class="front">
          <div class="container-fluid">
            <div class="row no-gutters">
              <div class="col-12 col-sm-6">
                <div class="front__type text-uppercase">акционерное общество</div>
                <h1>Ленинградские областные коммунальные системы</h1>
                <p>Услуги водоснабжения в 5 районах Санкт-Петербурга и Ленинградской области</p><a class="btn btn--front text-white" href="#">Подробнее об услугах </a>
              </div>
              <div class="col-12 col-sm-6">
                <video class="front__video" autoplay="autoplay" loop="loop">
                  <source src="./img/front.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
        </div>
        <div class="advantages__wrapper">
          <div class="container-fluid p-0">
            <div class="advantages">
              <div class="advantages__item">
                <div class="advantages__top text-uppercase">БОЛЕЕ</div>
                <div class="advantages__num">200 <small>КМ</small></div>
                <p>Протяжённость магистральных водоводов</p>
              </div>
              <div class="advantages__item">
                <div class="advantages__top text-uppercase">БОЛЕЕ</div>
                <div class="advantages__num">115 000 <small>М3</small></div>
                <p>Объём производства питьевой воды в сутки</p>
              </div>
              <div class="advantages__item">
                <div class="advantages__top text-uppercase">ДО</div>
                <div class="advantages__num">300 000 <small>ЧЕЛ.</small></div>
                <p>Количество потребителей</p>
              </div>
            </div>
          </div>
        </div>
      <section class="section section--offers">
        <div class="container-fluid p-0 offer__container">
          <div class="row no-gutters">
            <div class="col-12 col-sm-6 offer--dark">
                <div class="offer text-white">
                  <div class="container-fluid">
                    <div class="offer__type">Инвестиционные программы</div>
                    <h2>Услуги водоснабжения в Санкт-Петербурге  и области</h2><a class="btn btn--link text-white" href="#">Расчитать стоимость</a>
                  </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 offer--light">
                <div class="offer text-white">
                  <div class="container-fluid">
                    <div class="offer__type">о компании</div>
                    <h2>Раскрытие информации</h2>
                    <p>Общая информация, подлежащая раскрытию по филиалу</p><a class="btn btn--link text-white" href="#">Смотреть</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container-fluid pt-75 pt-md-120">
        <h2>Новости и события</h2>
      </div>
      <section class="section--events">
        <div class="container-fluid p-0">
          <div class="row no-gutters justify-content-between">
            <div class="col-12 col-sm-6">
              <div class="container-fluid event__wrapper">
                  <div class="event">
                    <div class="event__date"><span class="event__day">22</span><span class="event__month">Ноября 2018</span></div>
                    <div class="event__content">
                      <h3><a href="#">В Русско-Высоцком восстановлено водоснабжение</a></h3>
                      <p>Ремонтные работы по замене задвижки на 400 миллиметровой трубе были закончены вечером 22 ноября. С 10 часов утра 23 ноября подача воды...</p>
                    </div>
                  </div>
                  <div class="event">
                    <div class="event__date"><span class="event__day">19</span><span class="event__month">Ноября 2018</span></div>
                    <div class="event__content">
                      <h3><a href="#">Ленобласть – за чистые озера</a></h3>
                      <p>Байкальский водный форум стартует завтра, 
но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...</p>
                    </div>
                  </div>
                  <div class="event">
                    <div class="event__date"><span class="event__day">14</span><span class="event__month">Ноября 2018</span></div>
                    <div class="event__content">
                      <h3><a href="#">XI Конференция водоканалов России на Камчатке завершила свою работу</a></h3>
                      <p>За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний 
и круглых столов выслушали... </p>
                    </div>
                  </div>
                  <div class="event">
                    <div class="event__date"><span class="event__day">12</span><span class="event__month">Ноября 2018</span></div>
                    <div class="event__content">
                      <h3><a href="#">АО &quot;ЛОКС&quot; - на конференции водоканалов России</a></h3>
                      <p>Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором</p>
                    </div>
                  </div><a class="text-uppercase" href="#"><small class="font-weight-bold">Все новости</small></a>
              </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="container-fluid aside-news">
                  <h2>СМИ о нас</h2>
                  <div class="aside-news__block">
                    <time datetime="2018-11-20">20 ноября 2018</time>
                    <h2>За мячом – на каяке</h2><a class="font-weight-bold" href="#">  Газета труд</a>
                  </div>
                  <div class="aside-news__block">
                    <time datetime="2018-11-19">19 ноября 2018</time>
                    <h2>Кубок России по кануполо ушел в Ленинградскую область</h2><a class="font-weight-bold" href="#">47 NEWS</a>
                  </div>
                  <div class="aside-news__block">
                    <time datetime="2018-11-20">20 ноября 2018</time>
                    <h2>Отравление грязной водой, или рак чувствует все</h2><a class="font-weight-bold" href="#">47 NEWS</a>
                  </div>
                  <div class="aside-news__block">
                    <time datetime="2018-11-16">16 ноября 2018</time>
                    <h2>В Никольском восстановили подачу воды в 15 домов...</h2><a class="font-weight-bold" href="#">47 NEWS</a>
                  </div><a class="font-weight-bold" href="#">Все статьи</a>
                </div>
            </div>
          </div>
        </div>
      </section>
    </main>
      <div class="map">
        <div class="container-fluid pt-60">
          <h2>География деятельности компании</h2>
        </div>
        <div class="container-fluid p-0 position-relative">
            <div class="regions bg-primary pt-lg-60" id="regions">
              <h4 class="text-white regions__title d-none d-lg-block">Районы</h4>
              <div class="regions__selected d-lg-none"><span>Район:<span class="regions__selected-text" id="regions-selected">Ломоносовский</span></span></div>
              <ul class="regions__menu bg-primary d-lg-block" id="regions-menu">
                <li class="regions__item d-lg-none"><a class="regions__link" href="#"><span>Все</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Тосненский</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Гатчинский</span></a></li>
                <li class="regions__item regions__item--active"><a class="regions__link" href="#"><span>Ломоносовский</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Пушкинский</span></a></li>
                <li class="regions__item"><a class="regions__link" href="#"><span>Красносельский</span></a></li>
              </ul>
            </div>
        </div>
        <div class="map__container" id="map">
          <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;onload=initMap" type="text/javascript" async></script>
          <script type="text/javascript">
            function initMap() {
              var map;
              map = new ymaps.Map("map", {
                  center: [59.942417, 30.358098],
                  controls: [],
                  zoom: 13
                }
              );
            
              map.behaviors.disable('scrollZoom');
              map.behaviors.disable('multiTouch');
              if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                map.behaviors.disable('drag');
              }
            }
          </script>
        </div>
      </div>
      <div class="footer">
        <div class="container-fluid footer__row">
          <div class="footer__logo"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
          </div>
          <div class="footer__item footer__item--first">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">О компании</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Администрация</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Раскрытые информации</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Вакансии</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--center">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентам</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентская служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Техническая служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Тарифы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Инвестиционные программы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Подключение</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--last">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Закупки</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Новости</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="footer__tel">
            <div class="tel tel--footer"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div>
          </div>
        </div>
        <div class="footer__bottom"> 
          <div class="container-fluid footer__row"> <span class="footer__copyright">&copy; Ленинградские областные комунальные системы 2018</span><span class="footer__develop">Разработка сайта — <a href="#">its.agency</a></span></div>
        </div>
      </div>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/home.pug
extends ../templates/template.pug
block content
  +header().header--home
  main
    +front
    +advantages
    section.section.section--offers
      .container-fluid.p-0.offer__container: .row.no-gutters
        .col-12.col-sm-6.offer--dark: +offer({
          type: 'Инвестиционные программы',
          title: 'Услуги водоснабжения в Санкт-Петербурге  и области',
          link: 'Расчитать стоимость'
        })
        .col-12.col-sm-6.offer--light: +offer({
          type: 'о компании',
          title: 'Раскрытие информации',
          text: 'Общая информация, подлежащая раскрытию по филиалу',
          link: 'Смотреть'
        })
    .container-fluid.pt-75.pt-md-120
      h2 Новости и события
    section.section--events
      .container-fluid.p-0: .row.no-gutters.justify-content-between
        .col-12.col-sm-6: .container-fluid.event__wrapper
          +event({
            day: 22,
            month: 'Ноября 2018',
            title: 'В Русско-Высоцком восстановлено водоснабжение',
            text: 'Ремонтные работы по замене задвижки на 400 миллиметровой трубе были закончены вечером 22 ноября. С 10 часов утра 23 ноября подача воды...'
          })
          +event({
            day: 19,
            month: 'Ноября 2018',
            title: 'Ленобласть – за чистые озера',
            text: 'Байкальский водный форум стартует завтра, \n' +
              'но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...'
          })
          +event({
            day: 14,
            month: 'Ноября 2018',
            title: 'XI Конференция водоканалов России на Камчатке завершила свою работу',
            text: 'За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний \n' +
              'и круглых столов выслушали... '
          })
          +event({
            day: 12,
            month: 'Ноября 2018',
            title: 'АО "ЛОКС" - на конференции водоканалов России',
            text: 'Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором'
          })
          a(href="#").text-uppercase: small.font-weight-bold Все новости
        .col-12.col-sm-5
          +aside-news
  +map
  +footer
