build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="container py-50">
      <h2 class="mb-20 pb-10 border-bottom">Список страниц</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="pl-0">
            <li style="list-style: none;"><a class="d-block my-20" href="home.html" style="font-size: 20px;">Главная</a><a class="d-block my-20" href="about.html" style="font-size: 20px;">О компании</a><a class="d-block my-20" href="abonents.html" style="font-size: 20px;">Абонентам</a><a class="d-block my-20" href="contract.html" style="font-size: 20px;">Заключение договора</a><a class="d-block my-20" href="connection.html" style="font-size: 20px;">Подключение</a><a class="d-block my-20" href="news.html" style="font-size: 20px;">Новости</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/index.pug
extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="home.html", style="font-size: 20px;") Главная
            a.d-block.my-20(href="about.html", style="font-size: 20px;") О компании
            a.d-block.my-20(href="abonents.html", style="font-size: 20px;") Абонентам
            a.d-block.my-20(href="contract.html", style="font-size: 20px;") Заключение договора
            a.d-block.my-20(href="connection.html", style="font-size: 20px;") Подключение
            a.d-block.my-20(href="news.html", style="font-size: 20px;") Новости
