build/news.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css?version=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header">
        <div class="container-fluid header__row">
          <div class="header__left"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
            <nav class="header__menu-wrap">
                <ul class="menu">
                  <li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Абонентам</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Закупки</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Новости</a></li>
                  <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
                </ul>
              <div class="header__menu-bottom"><a class="header__login header__login--text" href="#">личный кабинет</a></div>
            </nav>
          </div>
          <div class="header__right">
            <div class="tel"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div><a class="header__login" href="#"></a>
            <button class="header__btn-menu"></button>
          </div>
        </div>
      </div>
    <main>
      <div class="container-fluid pt-20 pt-sm-40">
        <h1>Новости</h1>
      </div>
      <div class="container-fluid p-0 top-border">
        <div class="page-row">
          <div class="page-row__nav">
            <div class="page-row--gray">
              <div class="container-fluid pr-md-40">
                  <ul class="menu-left">
                    <li class="menu-left__item"><a class="menu-left__link--active menu-left__link" href="#">Новости</a></li>
                    <li class="menu-left__item"><a class="menu-left__link" href="#">СМИ о нас</a></li>
                  </ul>
              </div>
              <div class="top-border"></div>
              <div class="container-fluid pr-md-40 pt-40">
                <h5 class="text-dark mb-40">Телефоны аварийно-диспетчерских служб:</h5>
                <div class="text-dark mb-15">Невский водопровод</div>
                <div class="tel tel--contact pb-40">
                  <div class="tel__link"><span>+7 (812)</span> 414-92-72</div>
                </div>
                <div class="text-dark mb-15">Невский водопровод</div>
                <div class="tel tel--contact pb-40">
                  <div class="tel__link"><span>+7 (81361)</span> 22-073</div>
                </div>
              </div>
            </div>
              <div class="note text-white bg-secondary">
                <div class="container-fluid">
                  <h3 class="text-white">Обращаем внимание</h3>
                  <p>При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным</p>
                </div>
              </div>
          </div>
          <div class="page-row__body left-border">
            <div class="container-fluid">
                <div class="news-head">
                  <div class="news-head__img" style="background-image: url(./img/news-head.jpg)">
                    <div class="news-head__date">22 ноября 2018</div>
                  </div>
                  <h3><a class="news-head__title" href="#">В Русско-Высоцком восстановлено водоснабжение</a></h3>
                </div>
              <div class="top-border mt-65"></div>
              <div class="row">
                <div class="col-lg-9 col-xl-8">
                    <div class="event">
                      <div class="event__date"><span class="event__day">19</span><span class="event__month">Ноября 2018</span></div>
                      <div class="event__content">
                        <h3><a href="#">Ленобласть – за чистые озера</a></h3>
                        <p>Байкальский водный форум стартует завтра, 
но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...</p>
                      </div>
                    </div>
                    <div class="event">
                      <div class="event__date"><span class="event__day">14</span><span class="event__month">Ноября 2018</span></div>
                      <div class="event__content">
                        <h3><a href="#">XI Конференция водоканалов России на Камчатке завершила свою работу</a></h3>
                        <p>За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний 
и круглых столов выслушали... </p>
                      </div>
                    </div>
                    <div class="event">
                      <div class="event__date"><span class="event__day">12</span><span class="event__month">Ноября 2018</span></div>
                      <div class="event__content">
                        <h3><a href="#">АО &quot;ЛОКС&quot; - на конференции водоканалов России</a></h3>
                        <p>Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором</p>
                      </div>
                    </div>
                    <div class="event">
                      <div class="event__date"><span class="event__day">19</span><span class="event__month">Ноября 2018</span></div>
                      <div class="event__content">
                        <h3><a href="#">Ленобласть – за чистые озера</a></h3>
                        <p>Байкальский водный форум стартует завтра, 
но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...</p>
                      </div>
                    </div>
                    <div class="event">
                      <div class="event__date"><span class="event__day">14</span><span class="event__month">Ноября 2018</span></div>
                      <div class="event__content">
                        <h3><a href="#">XI Конференция водоканалов России на Камчатке завершила свою работу</a></h3>
                        <p>За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний 
и круглых столов выслушали... </p>
                      </div>
                    </div>
                    <div class="event">
                      <div class="event__date"><span class="event__day">12</span><span class="event__month">Ноября 2018</span></div>
                      <div class="event__content">
                        <h3><a href="#">АО &quot;ЛОКС&quot; - на конференции водоканалов России</a></h3>
                        <p>Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором</p>
                      </div>
                    </div>
                    <div class="pagination"><a class="pagination__arrow pagination__arrow--prev" href="#"></a>
                      <div class="pagination__item"><a class="pagination__link pagination__link--active" href="#">1</a></div>
                      <div class="pagination__item"><a class="pagination__link" href="#">2</a></div>
                      <div class="pagination__item"><a class="pagination__link" href="#">3</a></div>
                      <div class="pagination__item"><a class="pagination__link" href="#">4</a></div>
                      <div class="pagination__item">...</div>
                      <div class="pagination__item"><a class="pagination__link" href="#">7</a></div><a class="pagination__arrow pagination__arrow--next" href="#"></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
      <div class="footer">
        <div class="container-fluid footer__row">
          <div class="footer__logo"><a class="logo" href="./"><img src="./img/logo.svg" alt="ЛоКс"></a>
          </div>
          <div class="footer__item footer__item--first">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">О компании</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Администрация</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Раскрытые информации</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Вакансии</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--center">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентам</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Абонентская служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Техническая служба</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Тарифы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Инвестиционные программы</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Подключение</a></li>
            </ul>
          </div>
          <div class="footer__item footer__item--last">
            <ul class="footer__menu">
              <li class="footer__menu-item"><a class="footer__link" href="#">Закупки</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Новости</a></li>
              <li class="footer__menu-item"><a class="footer__link" href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="footer__tel">
            <div class="tel tel--footer"><a class="tel__link" href="tel:+78124149252"><span>+7 (812)</span> 414-92-52</a><a class="tel__callback" href="#">Обратная связь</a></div>
          </div>
        </div>
        <div class="footer__bottom"> 
          <div class="container-fluid footer__row"> <span class="footer__copyright">&copy; Ленинградские областные комунальные системы 2018</span><span class="footer__develop">Разработка сайта — <a href="#">its.agency</a></span></div>
        </div>
      </div>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>

src/pages/news.pug
extends ../templates/template.pug
block content
  +header
  main
    .container-fluid.pt-20.pt-sm-40: h1 Новости
    .container-fluid.p-0.top-border: .page-row
      .page-row__nav
        .page-row--gray
          .container-fluid.pr-md-40
            +menu-left({
              links: ['Новости', 'СМИ о нас'],
              active: 0
            })
          .top-border
          .container-fluid.pr-md-40.pt-40
            h5.text-dark.mb-40 Телефоны аварийно-диспетчерских служб:
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (812)</span> 414-92-72
            .text-dark.mb-15 Невский водопровод
            .tel.tel--contact.pb-40
              .tel__link.
                <span>+7 (81361)</span> 22-073
        +note({
          title: 'Обращаем внимание',
          text: 'При отсутствии договора заключенного в соответствии с действующим законодательством пользование системами коммунального водоснабжения и водоотведения считается самовольным'
        })
      .page-row__body.left-border
        .container-fluid
          +news-head({
            img: 'news-head.jpg',
            title: 'В Русско-Высоцком восстановлено водоснабжение',
            date: '22 ноября 2018'
          })
          .top-border.mt-65
          .row: .col-lg-9.col-xl-8
            +event({
              day: 19,
              month: 'Ноября 2018',
              title: 'Ленобласть – за чистые озера',
              text: 'Байкальский водный форум стартует завтра, \n' +
                'но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...'
            })
            +event({
              day: 14,
              month: 'Ноября 2018',
              title: 'XI Конференция водоканалов России на Камчатке завершила свою работу',
              text: 'За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний \n' +
                'и круглых столов выслушали... '
            })
            +event({
              day: 12,
              month: 'Ноября 2018',
              title: 'АО "ЛОКС" - на конференции водоканалов России',
              text: 'Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором'
            })
            +event({
              day: 19,
              month: 'Ноября 2018',
              title: 'Ленобласть – за чистые озера',
              text: 'Байкальский водный форум стартует завтра, \n' +
                'но сегодня в Иркутске уже обсуждают одну из главных проблем на Земле...'
            })
            +event({
              day: 14,
              month: 'Ноября 2018',
              title: 'XI Конференция водоканалов России на Камчатке завершила свою работу',
              text: 'За два дня работы деловой программы участники мероприятия в рамках пленарных заседаний \n' +
                'и круглых столов выслушали... '
            })
            +event({
              day: 12,
              month: 'Ноября 2018',
              title: 'АО "ЛОКС" - на конференции водоканалов России',
              text: 'Центральным событием второго дня XI Конференции водоканалов России стала дискуссия отраслевых предприятий с Росприроднадзором'
            })
            +pagination()
  +footer
